/* Document Navigation */

.logo{
        background: url(../images/logo-alpha.png);
        background-repeat:no-repeat;
        cursor:pointer;
        width:258px;
        height:51px;
        float:left;
        margin:30px 0 10px 0;
}
.logo-alpha{
        background: url(../images/logo-alpha.png);
        background-repeat:no-repeat;
        cursor:pointer;
        width:258px;
        height:51px;
        float:left;
        margin:5px 0 10px 0;
}


.docnav a, .docnav strong {
    text-decoration:none;
    font-weight:normal;
}

.docnav {
    list-style:none;
    margin:0em;
    padding:0em;
    position:relative;
    width:100%;
    padding-bottom:2em;
    padding-top:1em;
    border-top:1px dotted #ccc;
}

.docnav li {
    list-style:none;
    margin:0em;
    padding:0em;
    display:inline;
    font-size:.8em;
}

.docnav li:before {content:" ";}

.docnav li.previous, .docnav li.next {
    position:absolute;
    top:1em;
}

.docnav li.up, .docnav li.home {margin:0em 1.5em;}

.docnav li.previous {
    left:0px;
    text-align:left;
}

.docnav li.next {
    right:0px;
    text-align:right;
}

.docnav li.previous strong, .docnav li.next strong {
    display:block;
    height:22px;
}

.docnav {
    margin:0 auto;
    text-align:center;
}

.docnav li.next a strong {
    background:url(../images/docbook/next.png) top right no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-right:60px;
    font-size:1.2em;
}

.docnav li.previous a strong {
    background:url(../images/docbook/prev.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:1.2em;
}

.docnav li.home a strong {
    background:url(../images/docbook/home.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:1.2em;
}

.docnav li.up a strong {
    background:url(../images/docbook/up.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:1.2em;
}

.docnav a:link, .docnav a:visited {color:#666 !important;}

.docnav a:hover, .docnav a:focus, .docnav a:active {color:black !important;}

.docnav a {
    max-width:10em;
    overflow:hidden;
}

.docnav a:link strong {text-decoration:none;}

.docnav {
    margin:0 auto;
    text-align:center;
}

.docnav {margin-bottom:16px;}

/* Eclipse Help Navigation */

.navheader {padding-top:35px;}

.navheader table {
	background-color: #D1E3EC;
	border-style:none;
	height:88px;
}

/*
.navheader {
    padding-top:35px;
    background: url(../images/logo-alpha.png);
    background-repeat:no-repeat;
    margin: 18px 0 0;
}

.navheader table {
    border-style:none;
    margin: 27px 0 0;
}
*/

.navheader a:hover, .navheader a:focus, .navheader a:active {
    color: #000000 !important;
    text-decoration: none !important;
}

.navheader a:link,
.navheader a:visited {
    color: #000000 !important;
}

.navheader a:link {
    text-decoration: underline;
}

.navheader a {
    text-decoration:none;
    font-weight:normal;
    font-size:.8em;
}

.navheader table th {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-align: center;
}

.navheader td.next a {
    background:url(../images/docbook/next.png) top right no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-right:60px;
    font-size:0.9em;
}

.navheader td.previous a {
    background:url(../images/docbook/prev.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:0.9em;
}

.navheader a {
    max-width:10em;
    overflow:hidden;
}

.navfooter table {
    border-style:none;
    color: #000000;
    height: 113px;
    background-color: #D1E3EC;
}

.breadcrumb-link a {
	color:#FFFFFF !important;
	text-decoration: underline;
	font-size:14px;
}
.breadcrumb-link a:hover{
	text-decoration: none;
	
}
.navfooter a {
    text-decoration:none;
    font-size:12px;
	overflow:hidden;
	color:#FFF;
	margin:4px 0 0 0;
}

.navfooter td.next a {
    background:url(../images/docbook/next.png) top right no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-right:60px;
    font-size:0.9em;
}

.navfooter td.previous a {
    background:url(../images/docbook/prev.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:0.9em;
}

.navfooter td.home a {
    background:url(../images/docbook/home.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:0.9em;
}

.navfooter td.up a {
    background:url(../images/docbook/up.png) top left no-repeat;
    padding-top:10px;
    padding-bottom:15px;
    height:40px;
    padding-left:60px;
    font-size:0.9em;
}

.navfooter a:link, .navfooter a:visited {color:#FFF !important;}

.navfooter a:focus, .navfooter a:active {color:#FFF !important;}

.navfooter a:link {text-decoration:none;}
.navfooter a:hover{text-decoration:underline;}

.breadcrumb-node {
    font-size: 16px;
}